$primary: #FF79DA; 
$secondary:#9356DC; 
$tertiary:#99E2D0;
$background: #f2f2f2;
$location: #e5e5e5;
$shadow:#d3d3d3;
$menu:#f5f4f4;
$light: white;
$lightprimary:#e6b3e6;
$btnopacity:rgba(152, 223, 205, 1);
$dark:black;
$darkgrey:#363636;
