footer{
    text-align: inherit;
    @include flex-column-flexstart-spaceevenly;
    @include width-height-100;
    color: $light;
    background-color: $dark;
}

footer ul {
    @include margin-padding-nul;
}

footer ul li{
    height: auto;
    font-size: 20px;
    width: 95%;
    margin-left: 30px;
    padding: 0;
    margin-bottom: 15px;
}

.iconsfooter1{
    margin-right: 15px;
    @include text-list-style-none;

}
.iconsfooter2{
    margin-right: 9px;
    @include text-list-style-none;
}
