footer{
    text-align: left;
    @include flex-column-flexstart-spaceevenly;
    @include width-height-100;
    color: $light;
    background-color: $darkgrey;
    box-sizing: border-box;
    
}

footer ul {
    @include margin-padding-nul;
    
}

footer ul li{
    height: auto;
    font-size: 40px;
    width: 95%;
    margin-left: 30px;
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}

footer ul a {
    text-decoration: none;
    color: $light;
}

.iconsfooter1{
    margin-right: 15px;

}
.iconsfooter2{
    margin-right: 9px;
}
