body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  border: 1px solid white;
}

.logo {
  height: auto;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding-bottom: 80px;
}
.introduction .map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  background: #e5e5e5;
  width: 100%;
  height: 115px;
}
.introduction .map .iconmap {
  font-size: 35px;
  margin-left: 15%;
}
.introduction .map .map-where {
  background: none;
  border: none;
  margin-left: 40px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 40px;
  font-weight: 500;
  color: #363636;
}
.introduction h1 {
  width: 52%;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}
.introduction .restosinfos {
  font-family: "Roboto";
  font-weight: 900;
  width: 70%;
  font-size: 38px;
  text-align: center;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: center;
  border-radius: 60px;
  border: none;
  font-size: 37px;
  color: white;
  font-family: "Roboto";
  font-weight: 900;
  height: 120px;
  width: 470px;
  margin-top: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 12px 0px #363636;
}
.btn:hover {
  background: #f3d9f3;
  color: dark;
}

.functioning {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.cards1 {
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  height: 160px;
  width: 790px;
  font-size: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 0;
  box-shadow: 1px 6px 20px 7px #d3d3d3;
  font-family: "Roboto";
  font-weight: 900;
}
.cards1:hover {
  background: #f3d9f3;
}

h2 {
  font-size: 65px;
  width: 87%;
  margin-top: 0;
  margin-bottom: 0px;
}

.iconscards1 {
  color: #363636;
}
.iconscards1:hover {
  color: #9356DC;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  list-style: none;
  text-decoration: none;
  counter-increment: mycounter;
}

ol li::before {
  content: counter(mycounter);
  background: #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  margin-left: -104px;
  margin-left: -104px;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 90px;
  padding-top: 60px;
  background-color: #f2f2f2;
}

main img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  border-radius: 55px 55px 0 0;
}

.onthemenu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  height: 580px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px #d3d3d3;
  border-radius: 55px;
  box-sizing: border-box;
  margin-top: 65px;
}
.onthemenu .new {
  right: 80px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: absolute;
  border: 2px solid #99E2D0;
  border-radius: 4px;
  font-size: 30px;
  margin-top: 35px;
  background-color: #99E2D0;
  color: #129372;
}
.onthemenu .new:hover {
  background-color: #129372;
  color: aquamarine;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: black;
  font-size: 30px;
  width: 50%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.infosmenus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90%;
  height: 90%;
  margin-left: 30px;
}
.infosmenus .designinfosmenus {
  margin: 6px;
  padding: 0;
}

.hearts {
  font-size: 80px;
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  color: white;
  background-color: black;
  text-align: inherit;
}

h4 {
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 15px;
  width: 95%;
  margin-left: 30px;
  color: white;
  display: flex;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  height: auto;
  font-size: 15px;
  width: 95%;
  margin-left: 30px;
  padding: 0;
  margin-bottom: 15px;
  list-style: none;
  text-decoration: none;
}
footer ul li .iconsfooter1 {
  margin-right: 15px;
}
footer ul li .iconsfooter2 {
  margin-right: 9px;
}

@media only screen and (min-width:1200px) {
  header {
    height: 90px;
  }

  .logo {
    height: 50px;
  }

  .introduction {
    justify-content: center;
    padding-bottom: 60px;
  }
  .introduction .map {
    padding: 0;
    height: 50px;
  }
  .introduction .map .iconmap {
    font-size: 20px;
    margin-left: 12%;
  }
  .introduction .map .map-where {
    font-size: 20px;
    padding-right: 90px;
  }

  h1 {
    width: 100%;
    font-size: 35px;
  }

  .restosinfos {
    font-size: 22px;
  }

  .btn {
    height: 65px;
    width: 360px;
    font-size: 27px;
    margin-top: 20px;
  }

  .functioning {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 30px;
    width: 95%;
  }

  .cards1 {
    height: 55px;
    width: 323px;
    font-size: 18px;
    align-content: center;
  }

  .infoscards1 {
    margin-right: 30px;
  }

  ol {
    justify-content: space-around;
    width: 100%;
    display: flex;
    padding: 0;
  }

  ol li::before {
    width: 35px;
    height: 35px;
    margin-left: -40px;
  }

  .restaurants {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  main img {
    height: 200px;
  }

  .onthemenu {
    width: 45%;
    height: 305px;
  }
  .onthemenu .new {
    right: 60px;
  }

  .menu {
    width: 70%;
  }

  .infosmenus {
    height: auto;
  }
  .infosmenus .designinfosmenus {
    font-size: 25px;
  }

  .hearts {
    font-size: 45px;
  }

  footer {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width:768px) {
  .introduction, h1, .restosinfos {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
