.introduction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding-bottom: 80px;
}
.introduction .map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  width: 100%;
  height: 115px;
}
.introduction .map .iconmap {
  font-size: 35px;
  margin-left: 15%;
}
.introduction .map .map-where {
  background: none;
  border: none;
  margin-left: 40px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 500;
  color: #505050;
}
.introduction .restosinfos {
  font-family: "Roboto";
  font-weight: 900;
  width: 70%;
  font-size: 38px;
  text-align: center;
  font-weight: 500;
}

.functioning {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 60px;
  padding-top: 60px;
}

.cards1 {
  font-family: "Roboto";
  font-weight: 900;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  height: 160px;
  width: 790px;
  font-size: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 0;
  box-shadow: 1px 6px 20px 7px #d3d3d3;
}
.cards1 .iconscards1 {
  color: #505050;
}
.cards1:hover {
  background: #ecc6ec;
}
.cards1:hover .iconscards1 {
  color: #9356DC;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  list-style: none;
  text-decoration: none;
  counter-increment: mycounter;
}

ol li::before {
  content: counter(mycounter);
  background: #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  margin-left: -104px;
  margin-left: -104px;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 90px;
  padding-top: 60px;
  background-color: #f2f2f2;
}

main .imgmenus {
  object-fit: cover;
  height: 525px;
  width: 100%;
  border-radius: 55px 55px 0 0;
}

.cards2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  height: 720px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px #d3d3d3;
  border-radius: 55px;
  box-sizing: border-box;
  margin-top: 65px;
  animation: slidedown 2s;
}
.cards2:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.slidedown {
  -webkit-animation: slide-in-top 2s forwards;
  animation: slide-in-top 2s forwards;
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: black;
  font-size: 30px;
  width: 80%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.infosmenus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  height: 90%;
  margin: 25px;
  justify-content: space-evenly;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  background-color: #f5f4f4;
}

main .imgpages {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleheart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 95%;
}

.menus {
  box-sizing: border-box;
  position: relative;
  top: -125px;
  background-color: #f5f4f4;
  border-radius: 130px 130px 0px 0px;
  padding: 50px 40px 0px 40px;
}

.articlespages {
  display: flex;
  flex-direction: row;
  border-radius: 37px;
  box-sizing: border-box;
  background-color: white;
  height: 180px;
  width: 100%;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  box-shadow: 3px 6px 8px #d3d3d3;
  animation: slideup 3s;
}

.slideup {
  -webkit-animation: slide-in-bottom 3s 2s forwards;
  animation: slide-in-bottom 3s 2s forwards;
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideup {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.cardsmenus {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  padding: 25px;
}

.recipe {
  margin: 0;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  font-weight: 600;
  align-items: flex-end;
  height: 116px;
}

.mealprice {
  margin: 0;
}

.check {
  width: 120px;
  border-radius: 0 35px 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  transition: 0.7s ease-in-out;
  margin-right: -40px;
  visibility: hidden;
}

.check i {
  color: white;
  transform: rotate(360deg);
  transition: 0.7s;
}

.articlespages:hover .check {
  margin-right: 0;
  visibility: visible;
}

.articlespages:hover .fas {
  transform: rotate(0deg);
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.h1index {
  font-family: "Roboto";
  font-weight: 900;
  width: 52%;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}

.h2index {
  font-size: 65px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0px;
}

.h3index {
  font-size: 50px;
  margin: 4px;
  padding: 0;
}

.h1pages {
  font-family: "Shrikhand";
  font-size: 75px;
}

.h2pages {
  font-size: 46px;
  font-weight: 400;
  margin-top: 60px;
  width: 13%;
  border-bottom: 3px solid #99E2D0;
}

.h3pages {
  margin: 0;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 {
  font-family: "Shrikhand";
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 15px;
  width: 80%;
  margin-left: 30px;
  color: white;
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 170px;
  position: fixed;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
}

.logo {
  width: 55%;
}

footer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  color: white;
  background-color: #505050;
  box-sizing: border-box;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  height: auto;
  font-size: 20px;
  width: 95%;
  margin-left: 30px;
  padding: 0;
  margin-bottom: 15px;
  list-style: none;
}

footer ul a {
  text-decoration: none;
  color: white;
}

.iconsfooter1 {
  margin-right: 15px;
}

.iconsfooter2 {
  margin-right: 9px;
}

.btn {
  display: flex;
  justify-content: center;
  border-radius: 60px;
  border: none;
  font-size: 37px;
  color: white;
  font-family: "Roboto";
  font-weight: 900;
  height: 120px;
  width: 470px;
  margin-top: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 12px 0px #505050;
}
.btn:hover {
  background: #f3d9f3;
  color: dark;
}

.new {
  position: relative;
  text-decoration: none;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  right: 80px;
  padding: 8px;
  border: 2px solid #99E2D0;
  border-radius: 4px;
  font-size: 55px;
  margin-top: 35px;
  color: #1b6150;
}

.goback {
  font-size: 55px;
  color: #505050;
  position: absolute;
  left: 45px;
  top: 37px;
}

.hearts {
  font-size: 65px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  cursor: pointer;
}

.hearts:hover {
  font-size: 70px;
  color: #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: heartscolors 300ms ease-in-out;
}

@keyframes heartscolors {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnpages {
  display: flex;
  justify-content: center;
  border-radius: 60px;
  border: none;
  font-size: 37px;
  color: white;
  font-family: "Roboto";
  font-weight: 900;
  height: 120px;
  width: 470px;
  margin-top: 100px;
  margin-left: 23%;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 12px 0px #505050;
  transform: scale(1);
  transition: opacity 5ms;
}
.btnpages:hover {
  transform: scale(1.1);
}

@media all and (min-width: 768px) {
  header {
    height: 125px;
  }

  .logo {
    width: 50%;
    height: 80px;
  }

  .introduction .map {
    height: 80px;
  }
  .introduction .map .map-where {
    font-size: 35px;
  }
  .introduction .restosinfos {
    font-size: 35px;
  }

  .h1index {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 45px;
  }

  .h2index {
    font-size: 60px;
    width: 82%;
  }

  .btn {
    height: 85px;
  }

  .cards1 {
    height: 140px;
    width: 730px;
    font-size: 40px;
  }

  .restaurants {
    padding-top: 50px;
  }

  .cards2 {
    width: 90%;
  }

  .hearts {
    height: 65px;
  }

  .bntpages {
    margin-left: 25%;
  }
}
@media all and (min-width: 1200px) {
  body {
    max-width: 1345px;
  }

  header {
    height: 90px;
    justify-content: center;
  }

  .logo {
    height: 45px;
    width: 25%;
  }

  .introduction {
    justify-content: center;
    padding-bottom: 60px;
  }
  .introduction .map {
    padding: 0;
    height: 50px;
  }
  .introduction .map .iconmap {
    font-size: 20px;
    margin-left: 10%;
  }
  .introduction .map .map-where {
    font-size: 20px;
    padding-right: 90px;
  }

  .h1index {
    width: 100%;
    font-size: 30px;
    margin: 0;
    margin-top: 25px;
  }

  .introduction {
    padding-bottom: 40px;
  }
  .introduction .restosinfos {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .btn {
    height: 40px;
    width: 20%;
    margin: 0px;
    margin-top: 10px;
    margin-left: 0;
    font-size: 15px;
  }

  .functioning {
    padding-bottom: 35px;
    padding-top: 30px;
  }

  .h2index {
    font-size: 25px;
    width: 98%;
  }

  .cards1 {
    height: 50px;
    width: 235px;
    font-size: 15px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .infoscards1 {
    margin-right: 30px;
  }

  ol {
    justify-content: space-around;
    width: 100%;
    display: flex;
    padding: 0;
  }

  ol li::before {
    width: 35px;
    height: 35px;
    margin-left: -30px;
  }

  .restaurants {
    padding-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  main .imgmenus {
    height: 205px;
    border-radius: 25px 25px 0 0;
  }

  .cards2 {
    width: 23%;
    height: 275px;
    margin-top: 30px;
    padding: 0;
    border-radius: 25px;
    animation: slide-in-fwd-center 3s;
  }

  .slide-in-fwd-center {
    -webkit-animation: slide-in-fwd-center 2s forwards;
    animation: slide-in-fwd-center 2s forwards;
  }

  @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  .new::before {
    right: 10px;
    margin-top: 10px;
    padding: 6px;
    font-size: 20px;
  }

  .menu {
    width: 70%;
  }

  .infosmenus {
    height: auto;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .h3index {
    font-size: 20px;
  }

  .hearts {
    font-size: 40px;
    margin-left: 40px;
  }

  .hearts:hover {
    font-size: 45px;
  }

  /*pages menus*/
  .goback {
    font-size: 40px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  .titleheart {
    align-items: baseline;
    justify-content: center;
  }

  .h1pages {
    margin: 15px;
    font-size: 30px;
  }

  .menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    position: absolute;
    top: 130px;
    width: 80%;
    border-radius: 20px;
    padding: 10px 20px 25px 20px;
  }

  .h2pages {
    font-size: 15px;
    margin-top: 0;
    width: 10%;
  }

  .meals {
    width: 30%;
  }

  .articlespages {
    border-radius: 20px;
    height: 75px;
    font-size: 15px;
    margin-top: 30px;
  }

  .cardsmenus {
    padding: 10px;
    justify-content: space-around;
    align-content: space-between;
  }

  .h3pages {
    font-size: 17px;
    margin-bottom: 2px;
  }

  .recipe {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
    height: auto;
  }

  .btnpages {
    margin-left: 0%;
    height: 40px;
    width: 25%;
    margin-top: 36px;
    margin-bottom: 15px;
    font-size: 15px;
  }

  .check {
    box-sizing: border-box;
    width: 80px;
    border-radius: 0 20px 20px 0;
  }

  footer {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
  }
  footer h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
