
@media all and (min-width:1200px){
    header{
        height: 90px;
        justify-content: center;
    }

    .logo {
        height: 45px;
        width: 22%;
        margin-left: 13%;
        margin-right: 13%;
    }

    .introduction{
        justify-content: center;
        padding-bottom: 60px;

        .map{
            padding: 0;
            height: 50px;
        
            .iconmap {
                font-size: 20px;
                margin-left: 10%;
            }

            .map-where{
                font-size: 20px;
                padding-right: 90px;
            }
        }
    }
    
    .h1index{
        width: 100%;
        font-size: 30px;
        margin: 0;
        margin-top: 25px;
        
    }

    .introduction{
        padding-bottom: 40px;
        .restosinfos{
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 25px;
        }
    }
    
    .btn{
        height: 40px;
        width: 20%;
        margin: 0px;
        margin-top: 10px;
        margin-left: 0;
        font-size: 15px;
    }
    
    

    .functioning{
        padding-bottom: 35px;
        padding-top: 30px;

    }

    .h2index{
        font-size: 25px;
        width: 95%;
    }
    .cards1{
        height: 50px;
        width: 235px;
        font-size: 15px;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .infoscards1{
        margin-right: 30px;
    }

    ol{
        justify-content: space-around;
        width: 100%;
        display: flex;
        padding: 0;
    }

    ol li::before{
        width: 35px;
        height: 35px;
        margin-left: -30px;
    }
   
    .restaurants{
        padding-top: 30px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    main .imgmenus{
        height: 190px;
    }
    
    .cards2{
        width: 45%;
        height: 275px;
        margin-top: 30px;
        padding: 0;
        
    }

    .new{
        right: 135px;
        padding: 3px;
        font-size: 15px;
        margin-top: 16px;  
    }
    .menu{
        width: 70%;
    }

    .infosmenus{
        height: auto;
    }

    .h3index{
        font-size: 20px;
        
    }

    .hearts{
        font-size: 40px;
    }


    /*pages menus*/

    .goback{
        font-size: 40px;
    }

    main{
        @include flex-column-aligncenter;
        background-color: white;
    }

    .titleheart{
        align-items: baseline;
    }

    .h1pages{
        margin: 10px;
        font-size: 26px;
    }

    .menus{
        position: absolute;
        top: 130px;
        width: 55%;
        border-radius: 20px;
        padding: 10px 20px 25px 20px;
    }

    .h2pages{
        font-size: 15px;
        margin-top: 0;
        width: 4%;
    }

    .articlespages{
        border-radius: 20px;
        height: 65px;
        font-size: 15px;
        padding: 10px;
    }

    .cardsmenus{
        .h3pages{
            font-size: 17px;
            margin-bottom: 2px;
        }

        .recipe{
            font-size: 14px;
        }
    }

    .price{
        font-size: 18px;
    }

    .btnpages{
        margin-left: 37%;
        height: 40px;
        width: 25%;
        margin-top: 36px;
        font-size: 15px;
    }

    footer{
        text-align: center;
        align-items: center;
        @include margin-padding-nul;

        h4{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}