@media all and (min-width:1200px){
    body .loading{
        justify-content: center;
    }

    .cookie{
        top: 340px;
    }

    .bitedcookie{
        top: 25px;
    }

    header{
        height: 90px;
        justify-content: center;
    }

    .logo {
        height: 45px;
        width: 25%;
    }

    .introduction{
        justify-content: center;
        padding-bottom: 60px;

        .map{
            padding: 0;
            height: 50px;
        
            .iconmap {
                font-size: 20px;
                margin-left: 10%;
            }

            .map-where{
                font-size: 20px;
                padding-right: 90px;
            }
        }
    }
    
    .h1index{
        width: 100%;
        font-size: 30px;
        margin: 0;
        margin-top: 25px;
    }

    .introduction{
        padding-bottom: 40px;
        .restosinfos{
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 25px;
        }
    }
    
    .btn{
        height: 40px;
        width: 250px;
        margin: 0px;
        margin-top: 10px;
        margin-left: 0;
        font-size: 15px;
    }
    
    .functioning{
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .h2index{
        font-size: 25px;
    }
    .cards1{
        height: 50px;
        width: 235px;
        font-size: 15px;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .infoscards1{
        margin-right: 30px;
    }

    ol{
        justify-content: space-around;
        width: 100%;
        display: flex;
        padding: 0;
    }

    ol li::before{
        width: 35px;
        height: 35px;
        margin-left: -30px;
    }
   
    .restaurants{
        padding-top: 30px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    main .imgmenus{
        height: 205px;
        border-radius: 25px 25px 0 0;
    }
    
    .cards2{
        width: 23%;
        height: 285px;
        margin-top: 30px;
        padding: 0;
        border-radius: 25px;
        animation: slide-in-fwd-center 3s;
    }

    .slide-in-fwd-center {
        -webkit-animation: slide-in-fwd-center 2s forwards;
                animation: slide-in-fwd-center 2s forwards;
    }
    
    @-webkit-keyframes slide-in-fwd-center {
        0% {
          -webkit-transform: translateZ(-1400px);
                  transform: translateZ(-1400px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
    }
    @keyframes slide-in-fwd-center {
        0% {
          -webkit-transform: translateZ(-1400px);
                  transform: translateZ(-1400px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
    }

    .new::before{
        right: 10px;
        margin-top: 10px;
        padding: 6px;
        font-size: 20px;
    }


    .menu{
        width: 70%;
    }

    .infosmenus{
        height: auto;
        margin-left: 10px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .h3index{
        font-size: 20px;
    }

    .hearts{
        font-size: 25px;
    }

    .hearts:hover{
        font-size: 30px;
    }

    /*pages menus*/

    .goback{
        font-size: 40px;
    }

    main{
        @include flex-column-aligncenter;
        background-color: white;
    }

    .titleheart{
        align-items: baseline;
        justify-content: center;
    }

    .h1pages{
        margin: 15px;
        font-size: 30px;
    }

    .menus{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        position: absolute;
        top: 130px;
        width: 80%;
        border-radius: 20px;
        padding: 10px 20px 25px 20px;
    }

    .h2pages{
        font-size: 15px;
        margin-top: 0;
        width: 10%;
    }

    .meals{
        width: 30%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0;
    }
    
    .articlespages{
        border-radius: 20px;
        height: 75px;
        font-size: 15px;
        margin-top: 30px;
    }

    .cardsmenus{
        padding: 10px;
        justify-content: space-around;
        align-content: space-between;
    }

    .h3pages{
        font-size: 17px;
        margin-bottom: 2px;
    }

    .recipe{
        font-size: 14px;
    }

    .price{
        font-size: 18px;
        height: 116px;
    }

    .btnpages{
        margin-left: 0%;
        height: 40px;
        width: 260px;
        margin-top: 36px;
        margin-bottom: 15px;
        font-size: 25px;
    }

    .check{
        box-sizing: border-box;
        border-radius: 0 20px 20px 0;
    }

    footer{
        text-align: center;
        align-items: center;
        @include margin-padding-nul;
        top: 0;
        h4{
            @include flex-column-aligncenter;
        }
    }
}