@media all and (min-width:768px){
    header{
        height: 125px;
    }

    .logo{
        width: 50%;
        height: 80px;
    }


    .introduction{
        .map{
            height: 80px;

            .map-where{
                font-size: 35px;
            }
        }

        .restosinfos{
            font-size: 35px;
        }

        
    }

    .h1index{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 45px;
    }

    .h2index{
        font-size: 60px;
        width: 82%;
    }

    .btn{
        height: 85px;
    }

    .cards1{
        height: 140px;
        width: 730px;
        font-size: 40px;
    }
    .restaurants{
        padding-top: 50px;
    }

    

    .cards2{
        width: 90%;
    }

    .hearts{
        height: 65px;
    }

    .bntpages{
        margin-left: 25%;
    }

}  