$tabs: "only screen and (min-width:768px)";

@media #{$tabs} {
    .introduction{
        .map{
            height: 90px;

            .map-where{
                font-size: 35px;
            }
        }

        h1{
            width: 100%;
        }
    }
    .btn{
        height: 85px;
    }

    h2{
        font-size: 50px;
        width: 82%;
    }

    main img{
        height: 195px ;
    }

    .onthemenu{
        height: 320px;
        width: 85%;

        .new{
            padding: 2px;
            font-size: 20px;
            margin-top: 15px;
            right: 60px;
            
        }
    }

    .hearts{
        height: 65px;
    }

}  