$primary: #FF79DA; 
$secondary:#9356DC; 
$tertiary:#99E2D0;
$background: #f2f2f2;
$location: #e5e5e5;
$shadow:#d3d3d3;
$light: white;
$lightprimary:#e6b3e6;
$dark:black;
$darkgrey:#363636;
$spancolor:#129372;