.introduction{
    @include flex-wrap-column-aligcenter;
    @include width-height-100;
    background-color: $background;
    padding-bottom: 80px;
    .map{
        @include flex-row-aligncenter-justcontcent;
        background: $location;
        width: 100%;
        height: 115px;
        
        .iconmap{
            font-size: 35px;
            margin-left: 15%;
        }
        .map-where{
            background: none;
            border: none;
            margin-left: 40px;
            font-family: 'Roboto';
            font-size: 40px;
            font-weight: 500;
            color: $darkgrey;
        }
    }

    .restosinfos{
        font-family: 'Roboto';
        width: 80%;
        font-size: 45px;
        text-align: center;
        font-weight: 500;
    }
}

.functioning{
    @include width-height-100;
    @include flex-wrap-column-aligcenter;
    align-content: space-around;
    background-color: $light;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 25px;
    padding-left: 25px;
    width: 95%;
    height: 663px;
    
}

.cards1{
    font-family: 'Roboto';
    font-weight: 900;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: $background;
    height: 160px;
    width: 100%;
    font-size: 50px;
    @include flex-row-center-spaceevenly-wrap;
    align-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 1px 6px 20px 7px $shadow;
    position: relative;
    .iconscards1{
        color: $darkgrey ;
    }

    &:hover{
        background: lighten($color: $lightprimary, $amount: 5);
        transform: scale(1.05);
        .iconscards1{
            color: $secondary;
        }
    }
    
}

ol{
    @include margin-padding-nul;
    width: 90%;
}
ol li {
    list-style: none;
    text-decoration: none;
    counter-increment: mycounter;
}

ol li::before{
    content: counter(mycounter);
    background: $secondary;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: $background ;
    @include flex-row-aligncenter-justcontcent;
    font-family: 'Roboto';
    position: absolute;
    left: -25px;

}

.cards1-text1{
    margin-right: -50px;
}

.cards1-text2 {
    margin-left: -22px;
}

.restaurants{
    @include flex-wrap-column-aligcenter;
    width: 95%;
    height: auto;
    background-color: $background;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 90px;
    padding-top: 50px;
}

main .imgmenus{
    object-fit: cover;
    height: 525px;
    width: 100%;
    border-radius: 55px 55px 0 0;
}

.cards2{
    @include flex-nowrap-column;
    width: 90%;
    height: 720px;
    background-color: $light;
    box-shadow: 5px 5px 5px 1px $shadow ;
    border-radius: 55px;
    box-sizing: border-box;
    margin-top: 65px;
    animation:  slidedown 2s;

    &:hover{
        cursor: pointer;
        transform: scale(1.02);
    }
}

.slidedown{
    -webkit-animation: slide-in-top 2s forwards;
            animation: slide-in-top 2s forwards;
}

@-webkit-keyframes slidedown{
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slidedown {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
  
.menu{
    @include flex-nowrap-column;
    color: $dark;
    font-size: 30px;
    width: 80%;
    @include margin-padding-nul;
    text-decoration: none;
}

.infosmenus{
    @include flex-row-aligncenter;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 90%;
    height: 90%;
    margin: 25px;
}
