.btn{
    @include flex-justifycenter;
    border-radius: 60px;
    border: none;
    font-size: 37px;
    color: $light;
    font-family: 'Roboto';
    font-weight: 900;    height: 120px;
    width: 470px;
    margin-top: 25px;
    background:linear-gradient($primary, $secondary);

    box-shadow: 0px 0px 12px 0px $darkgrey;
    
    &:hover{
        background: lighten($color: $lightprimary , $amount: 10);
        color: dark;
    }
}



.new{
    position: relative;
    text-decoration: none;
}

.new::before{
    content: "Nouveau";
    position: absolute;
    background-color: $tertiary;
    right: 80px;
    padding: 8px;
    border: 2px solid $tertiary;
    border-radius: 4px;
    font-size: 55px;
    margin-top: 35px;
    color: darken($color: $tertiary, $amount: 50%);

}

.goback{
    font-size: 55px;
    color: $darkgrey;
    position: absolute;
    left: 45px;
    top: 37px;
}

.hearts{
    font-size: 65px;
    color: $light;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black  ;
    cursor: pointer;
}

.hearts:hover{
    font-size: 70px;
    color: $secondary;
    background:linear-gradient($primary, $secondary);
    text-shadow: none;
    -webkit-text-fill-color: transparent;    
    -webkit-background-clip: text;
    transition: heartscolors 300ms ease-in-out;
}

@keyframes heartscolors{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
.btnpages{
    @include flex-justifycenter;
    border-radius: 60px;
    border: none;
    font-size: 37px;
    color: $light;
    font-family: 'Roboto';
    font-weight: 900;
    height: 120px;
    width: 470px;
    margin-top: 100px;
    margin-left: 23%;
    background:linear-gradient($primary, $secondary);
    box-shadow: 0px 0px 12px 0px $darkgrey;
    transform: scale(1);
    transition: opacity 5ms;

    &:hover{
        transform: scale(1.10);
    }
}


