.cookie{
    font-size: 160px;
    color:  #fdcf99;
    position: absolute;
    text-shadow: -2px 0 transparent, 0 2px transparent, 2px 0 transparent, 0 -2px transparent;
    top: 285px;
    z-index: 1;
    animation: cookie-swing 6s ease-in-out infinite ;
}

.cookie_swing {
	-webkit-animation: cookie-swing 6s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0s infinite ;
	        animation: cookie-swing 6s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0s infinite ;
}

@-webkit-keyframes cookie-swing {
    0% {
        -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 0;
    }
    60% {
        -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 0;
    }
}
@keyframes cookie-swing {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    60% {
        -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 1;
    }
    80% {
        -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 0;
    }
}
  

.bitedcookie{
    font-size: 160px;
    position: relative;
    top: 25px;
    color: #9f7d57a1;
    z-index: 2;
    text-shadow: -2px 0 #00000047;
    animation: bitedcookie-swing  4s 2s ease-in-out infinite;
}

.bitedcookie-swing {
	-webkit-animation: bitedcookie-swing 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s infinite ;
	        animation: bitedcookie-swing 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s infinite;
}

@-webkit-keyframes bitedcookie-swing {
    0% {
        -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 0;
    }
    60% {
        -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(-70deg);
              transform: rotateX(-70deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 0;
    }
}

@keyframes bitedcookie-swing  {
    0% {
        -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 0;
    }
    60% {
        -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateX(-70deg);
              transform: rotateX(-70deg);
        -webkit-transform-origin: top;
              transform-origin: top;
        opacity: 0;
    }
}
  
.loading_store{
    font-size: 90px;
    position: relative;
    top: -121px;
    z-index: 3;
    color: #a7ffe9ad;
    text-shadow: 4px 0 #0000003d, 0 7px #00000012, 9px 0 transparent, 0 8px transparent;
    visibility: hidden;

}

.btn{
    @include flex-justifycenter;
    border-radius: 60px;
    border: none;
    font-size: 37px;
    color: $light;
    font-family: 'Roboto';
    font-weight: 900;    height: 120px;
    width: 470px;
    margin-top: 25px;
    background:linear-gradient($primary, $secondary);
    box-shadow: 0px 0px 12px 0px $darkgrey;
    
    &:hover{
        background: lighten($color: $lightprimary , $amount: 10);
        color: dark;
    }
}

.new{
    position: relative;
    text-decoration: none;
}

.new::before{
    content: "Nouveau";
    position: absolute;
    background-color: $tertiary;
    right: 80px;
    padding: 8px;
    border: 2px solid $tertiary;
    border-radius: 4px;
    font-size: 55px;
    margin-top: 35px;
    color: darken($color: $tertiary, $amount: 50%);

}

.goback{
    font-size: 55px;
    color: $darkgrey;
    position: absolute;
    left: 45px;
    top: 37px;
}

.hearts{
    font-size: 65px;
    color: $light;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black  ;
    cursor: pointer;
    
}

.hearts:hover{
    font-size: 70px;
    color: transparent;
    background:linear-gradient($primary, $secondary);
    box-sizing: border-box;
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;    
    transition: heartscolors 300ms ease-in-out;
}

@keyframes heartscolors{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
.btnpages{
    @include flex-justifycenter;
    border-radius: 60px;
    border: none;
    font-size: 37px;
    color: $light;
    font-family: 'Roboto';
    font-weight: 900;
    height: 120px;
    width: 470px;
    margin-top: 100px;
    margin-left: 23%;
    background:linear-gradient($primary, $secondary);
    box-shadow: 0px 0px 12px 0px $darkgrey;
    transform: scale(1);
    transition: opacity 5ms;

    &:hover{
        transform: scale(1.10);
    }
}


