.btn{
    @include flex-justifycenter;
    border-radius: 60px;
    border: none;
    font-size: 37px;
    color: $light;
    font-family: 'Roboto';
    font-weight: 900;    height: 120px;
    width: 470px;
    margin-top: 25px;
    background:linear-gradient($primary, $secondary);

    box-shadow: 0px 0px 12px 0px $darkgrey;
    
    &:hover{
        background: lighten($color: $lightprimary , $amount: 10);
        color: dark;
    }
}

.iconscards1{
    color: $darkgrey ;

    &:hover{
        color: $secondary;
    }
}

.goback{
    font-size: 50px;
    color: $darkgrey;
}

.hearts{
    font-size: 80px;
    color: $dark;
}

.btnpages{
    @include flex-justifycenter;
    border-radius: 60px;
    border: none;
    font-size: 37px;
    color: $light;
    font-family: 'Roboto';
    font-weight: 900;
    height: 120px;
    width: 470px;
    margin-left: 23%;
    margin-top: 100px;
    background:linear-gradient($primary, $secondary);
    box-shadow: 0px 0px 12px 0px $darkgrey;
    
    &:hover{
        background: lighten($color: $lightprimary , $amount: 10);
        color: dark;
    }
}


